.test2{
    overflow-x:scroll;
    
    width: 100vw;
    
}
.test2::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

.test{    
    background-color: lightcyan;
    
    width: 4278px;
    -webkit-animation-name: move;
  -webkit-animation-duration: 40s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: left;
  -webkit-animation-timing-function: linear;
    
}

.test:hover {
    -webkit-animation-play-state: paused;
  }
.test div{
    
    margin: 3px;
    padding: 2px;
    width: 200px;
    display: inline-block;
    
    
}

@-webkit-keyframes move {
    0% {
        margin-left: 1400px;
      }
    100% {
      margin-left: -4278px;
    }
    
  }