.stocks-container {
	background-color: lightcyan;
	position: relative;
	overflow: hidden;
}

.stocks {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;

	animation-name: move;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-direction: left;
	animation-timing-function: linear;
	-webkit-animation-name: move;
	-webkit-animation-duration: 30s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: left;
	-webkit-animation-timing-function: linear;
}

.stocks:hover {
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}

.stocks div:not(:first-child) {
	border-left-width: 1px;
	border-left-style: solid;
	border-color: rgb(228, 228, 228);
}

.stocks div {
	margin: 3px;
	min-width: 180px;
	padding: 2px 15px;
	display: inline-block;
}

@keyframes move {
	0% {
		margin-left: 100%;
	}
	100% {
		margin-left: -100%;
	}
}
