.nav-link:hover{
    
    text-decoration-color: #F7B538;
}
.nav-link:focus{
    /* background-color: red; */
    border-bottom: 2px solid #F7B538;
}

.custom-style:hover{
    color: white;
}
.custom-style:focus{
    color: white;
    
}